<div class="block block-link-list">
  
  <h3 class="header">{{ title }}</h3>

  <ul class="archive-list with-thumbs">
    {{#each links}}
    <li>
      <span class="item-media">
        <a href="{{ url }}">
          <img alt="{{ source }}" src="{{ thumbnail }}" width="80px">
        </a>
      </span>
      <span class="item-body">
        <a href="{{ url }}">
          <span class="date">{{ source }}</span>
          <span class="headline">{{ title }}</span>
        </a>
      </span>
    </li>
    {{/each}}
  </ul>

  <p class="more"><a class="more-link" href="https://news.ucsc.edu/inthenews/index.html">More</a></p>

</div>