<div class="block profile-block">
  <h3 class="block-header">{{ title }}</h3>
  <div class="inner">
    <a href="{{ url }}">
      <img alt="Michael Luttrell: Keeping campus safe during COVID" class="block-image" src="{{ image }}">
    </a>
    <a class="upTitle" href="{{ url }}">{{ title }}</a>
    <p>{{ teaser }}</p>
  </div>
</div>