<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
    <title>{{ title }} - University of California, Santa Cruz</title>
    <meta content="{{ description }}" name="description">
    <meta content="{{ keywords }}" name="keywords">
  
    {{> global-head}}

</head>


<body class="{{#if classes}}{{classes}}{{/if}}">

            <!-- Do not show banner -->
    
<div id="wrap">
  <div id="container">
    <div id="content">
    
     
      <header role="banner" class="site-header">

        {{> global-header}}

        {{#www}}
          {{> header-www }}    
        {{/www}}
        {{^www}}
          {{> header-dept }}
        {{/www}}

      </header>

      {{#front}}
          <div class="row">
            {{> carousel }}
          </div>
      {{/front}}
      {{^front}}
          <div class="row breadcrumbs">
              <p><a href="../index.html">Home</a> / <a href="http://example.com/">Directory</a> / This page</p>
          </div>
      {{/front}}
    
    <main id ="main">

      {{ body }}

    </main>

    <footer>  
      <div class="row" id="footer">

        <p class="address home">UC Santa Cruz, 1156 High Street, Santa Cruz, Ca 95064<br> &#169;2014 Regents of the University of California. All Rights Reserved.</p>

        <p class="links"><a href="feedback/index.html">Feedback</a></p>

        <p class="social-media"><a href="http://www.facebook.com/ucsantacruz"><img alt="Facebook" height="24" src="http://www.ucsc.edu/images/interface/icon_facebook.png" width="48"></a> <a href="http://twitter.com/ucsc"><img alt="Twitter" height="24" src="http://www.ucsc.edu/images/interface/icon_twitter.png" width="48"></a> <a href="http://youtube.com/ucsantacruz"><img alt="YouTube" height="24" src="http://www.ucsc.edu/images/interface/icon_youtube.png" width="48"></a> <a href="http://www.linkedin.com/groups?home=&amp;gid=102708"><img alt="UC Santa Cruz - LinkedIn" height="24" src="http://www.ucsc.edu/images/interface/icon_linkedin.png" width="48"></a></p>

      </div>

      <div class="row" id="page_bottom">
        <p><a href="http://its.ucsc.edu/terms/">Privacy Policy and Terms of Use</a></p>
        <p><b>Page last built:</b> ##DATE##</p>
      </div>
    
    </footer>

    </div><!-- /content-->        
  </div><!-- /container -->
</div><!-- /wrap -->


{{> footer-scripts-global}}

{{#front}}  
  {{> footer-scripts-carousel}}
{{/front}}

</body>
</html>